#title {
  text-align: center;
  margin-top: 3rem !important;
  font-family: monospace;
  font-size: 24px;
  background-color: cornflowerblue;
}

#desc {
  text-align: center;
  margin-top: 2rem !important;
  background-color: cornflowerblue;
  font-family: monospace;
  font-size: 16px;
  min-width: 55px;
  max-width: 80%;
}

#data {
  text-align: center;
  margin-top: 10%;
}

#title {
  text-align: center;
  margin-top: 5%;
  color: #1e272e;
}

#kart {
  justify-content: center;
  text-align: center;
  background-color: #c6ffd9;
  color: #000000;
}

#datakart1,
#datakart2,
#datakart3,
#datakart4 {
  align-items: center;
  min-width: 11rem;
  max-width: 13rem;
  margin-bottom: 1rem;
  font-size: 15px;
}

#datamain {
  margin-top: 3rem;
  font-family: monospace;
}

#footer {
  color: #00000075;
  font-weight: 300;
  font-family: monospace;
}
